@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap')
@import "animation", "mixins"


$Green: #49af00

$PepDark: #353546
$PepLight: #909090


i
  color: $PepDark

p
  margin: 0
  padding: 0

body
  margin: 0
  padding: 0
  color: #222
  background: #ddd
  font-family: 'Roboto Condensed', sans-serif

.cont
  max-width: 1400px
  height: 100%
  margin: 0 auto
  padding: 0 45px
  +bp(800px)
    padding: 0 15px

a
  text-decoration: none
  color: $PepDark

.btn
  font-size: 18px
  text-align: center
  background: $Green
  color: #414141
  padding: 10px 15px
  border-radius: 4px
  margin: 8px 0
  transition: .15s linear
  border: 2px solid transparent
  &:hover
    border: 2px solid $PepDark

.title
  margin: 20px 0
  font-size: 40px

////////////////////////////////////////////
  ////////////    HEADER   //////////////
////////////////////////////////////////////

.headerWP
  display: flex
  justify-content: space-between
  padding: 20px 0
  +bp(950px)
    flex-wrap: wrap

  .headerWP__logo
    display: flex
    max-width: 250px
    font-size: 46px
    background: $Green
    border-radius: 3px
    padding: 0px 10px
    margin: 3px 0
    font-family: 'Montserrat', sans-serif
    .logo
      margin: auto
      color: #f1f1f1

  .contacts-header
    display: flex
    flex-direction: column
    justify-content: center
    font-size: 22px
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    +bp(950px)
      order: 1
      width: 100%
      padding-top: 20px

    &__btn
      color: #f1f1f1

    .btnBox
      margin: 20px 0 0 20px
        
    &__tel1,
    &__tel2
      letter-spacing: 1px
      padding-left: 5px
      font-size: 18px
      padding: 3px 0
      font-weight: bold
      
  .headerWP-adr
    font-size: 18px
    display: flex
    flex-direction: column
    
    &__btn
      display: block
      color: $PepDark
      background: #ddd
      font-weight: bold
      padding: 3px 0

    &__adr
      display: block
      padding: 3px 0
      color: $PepDark

  i
    margin-right: 5px
    color: $PepDark

////////////////////////////////////////////
  ////////////    NAVIGATON   ////////////
////////////////////////////////////////////

nav
  position: relative
  margin-top: 20px
  padding: 0 20px
  background: $PepDark
  z-index: 2

.navWP
  display: flex
  
  &__link
    position: relative
    border-radius: 3px
    transition: .2s linear
    font-size: 16px
    width: 100%
    text-align: center
    border-bottom: 4px solid transparent
    border-top: 4px solid transparent
    
    >a
      display: block
      padding: 20px 0
      color: #f1f1f1
      font-weight: bold

    .fa-chevron-down
      position: absolute
      right: 35px
      top: 38%
      color: #ddd
      transition: .25s linear

    &:hover
      transform: translateY(4px)
      box-shadow: inset 0px -4px 0 $PepLight
      
      .fa-chevron-down
        transform: rotate(90deg) scale(1.2) skew(5deg)
        opacity: .75

    &:hover >.sb-menu
      display: flex
      animation: subMenuHover .3s linear

// подменю

.sb-menu
  position: absolute
  right: 0
  background: $PepDark - 10
  display: none
  flex-direction: column
  transition: .25s linear
  z-index: 2

  &__link
    padding: 15px 0
    min-width: 225px    
    color: #f1f1f1
    transition: .2s ease-in-out
    &:hover
      background: $PepDark




////////////////////////////////////////////
  ////////////    Slider     ////////////
////////////////////////////////////////////

.slider
  position: relative
  min-height: 550px
  width: 100%
  background: url(../img/sld5.jpg) center/cover no-repeat
  
  .lic
    position: absolute
    font-size: 18px
    width: 80vw
    top: 0px
    color: #ddd
    transform: translate(7vw, 10px)
    animation: animationLic 1s infinite linear alternate-reverse;

  h2
    padding: 0
    margin: 0

  .cont
    display: flex

  .sliderWP
    display: flex
    flex-wrap: wrap
    align-items: center
    color: #f1f1f1
    margin: auto
    margin-top: 200px
    text-align: center
    font-family: 'Montserrat', sans-serif
    +bp(800px)
      flex-wrap: wrap
    &__title
      width: 100%
      font-size: 30px
    &__btn
      color: #f1f1f1
      margin: 20px auto
      background: $Green
      border: 1px solid #f1f1f1
      border-radius: 4px
      padding: 12.5px 25px
      transition: .25s linear
      font-weight: bold
      letter-spacing: 0.6px
      &:hover
        background: #f1f1f1
        color: $Green
        border: 1px solid $Green

////////////////////////////////////////////
  ////////////    Service     ////////////
////////////////////////////////////////////
      
.service
  background: $Green
  width: 100%
  min-height: 120px

  .serviceWP
    display: flex
    justify-content: space-around
    align-items: center
    text-align: center
    +bp(800px)
      flex-wrap: wrap

    i
      font-size: 56px
      +bp(800px)
        font-size: 35px

    h2
      margin: 5px 0
      padding: 0

    &__item
      position: relative
      display: flex
      flex-direction: column
      justify-content: center
      background: #f1f1f1
      margin-top: -70px
      border-radius: 50% 
      border: 3px solid $Green
      width: 175px
      height: 175px
      transition: .45s linear
      +bp(800px)
        width: 139px
        height: 139px
        margin-top: 0

      &:hover
        background: $PepDark
        border: 3px solid #f1f1f1
        &> i
          animation: opacityAnim 1.05s linear
          position: absolute
          opacity: .25
          left: 35%
        .serviceWP__title
          transform: translateY(0px)
          color: #f1f1f1

    &__title
      color: $PepDark
      font-size: 14px
      transition: transform .25s
      +bp(800px)
        font-size: 13px

    i
      color: $Green
      transition: 0.25s linear

////////////////////////////////////////////
  ////////////    About Us    ////////////
////////////////////////////////////////////

.about-us
  padding: 60px 0
  +bp(800px)
    padding: 20px 0

  .aboutWP
    &__title
      font-size: 40px
      border-bottom: 1px solid $Green
    &__text
      margin: 15px 0

  .about-cards
    display: flex
    justify-content: space-between
    text-align: center
    +bp(800px)
      flex-direction: column
      align-items: center

    &__item
      display: flex
      flex-direction: column
      min-height: 200px
      background: #d8d8d8
      box-shadow: 0 0 4px 1px $PepDark
      padding: 10px 15px
      margin-left: 35px
      +bp(950px)
        width: 85%
        min-height: auto
        margin: 5px 0
    &__item:first-child
      margin-left: 0

    &__title
      position: relative
      color: #363636
      font-size: 18px
      font-weight: bold
      padding: 10px 0


    &__text
      margin-top: auto
      margin-bottom: 20px
      font-size: 14px
      color: #444444
      



////////////////////////////////////////////
  /////////    akcii block    //////////
////////////////////////////////////////////

.akcii
  padding: 30px 0 50px 0
  background: $PepDark
  &__title
    font-size: 40px
    color: #f1f1f1

  .akciiWP
    display: flex
    justify-content: space-between
    +bp(800px)
      flex-direction: column
      align-items: center

    &__item
      transition: .25s linear
      display: flex
      text-align: center
      width: 30%
      height: 250px
      background: url(../img/akcii2.jpg) center/cover no-repeat
      border: 1px solid #000
      +bp(800px)
        width: 85%
        margin: 5px 0
      &:hover
        transform: scale(1.02) translate(-6px,-6px)
        box-shadow: 6px 6px 0px #f1f1f133

    .akciiWP__item:nth-child(1)
      background: url(../img/akcii1.jpg) center/cover no-repeat
    .akciiWP__item:nth-child(2)
      background: url(../img/akcii2.jpg) center/cover no-repeat
    .akciiWP__item:nth-child(3)
      background: url(../img/akcii3.jpg) center/cover no-repeat

    &__title
      margin: auto 0
      width: 100%
      color: #f1f1f1ff
      font-size: 26px
      background: #00000099
      padding: 5px 10px 
      

////////////////////////////////////////////
  /////////    catalog block    //////////
////////////////////////////////////////////

.catalog
  padding: 30px 0
  
  &__title
    font-size: 40px
    color: #000

  .catalogWP
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    +bp(520px)
      justify-content: center

    &__item
      display: flex
      flex-direction: column
      width: 325px
      min-height: 255px
      border-radius: 2px
      box-shadow: 0 0 3px #313131
      margin: 0 10px
      margin-bottom: 20px
      background: url(../img/tovar/tovar_1.jpg) center/cover no-repeat
      +bp(800px)
        width: 225px
        min-height: 170px
    
    &__item:nth-child(5),
    &__item:nth-child(6),
    &__item:nth-child(7),
    &__item:nth-child(8)
      display: none

    &__name
      position: absolute
      width: %
      background: $Green
      color: #f1f1f1
      font-size: 22px
      padding: 5px 10px 0

      +bp(800px)
        font-size: 16px

    &__btns
      display: flex
      margin-top: auto
      width: 100%

    &__btn
      flex-basis: 50%
      text-align: center
      display: block
      padding: 5px 0
      color: #f1f1f1
      +bp(800px)
        font-size: 16px

    .bye
      background: $Green
      transition: .25s
      &:hover
        background: $Green + 30
    
    .catalog-item
      background: $PepDark
      transition: .25s
      &:hover
        background: $PepDark + 30

////////////////////////////////////////////
  ////////////    REVIEW   //////////////
////////////////////////////////////////////
.reviews
  background: $PepDark
  padding: 35px 0

  .title
    color: #f1f1f1
.reviewWP
  display: flex
  justify-content: space-between
  +bp(800px)
    flex-wrap: wrap
    justify-content: center


  &__item
    flex-basis: 18%
    min-height: 300px
    border: 2px solid $Green
    +bp(800px)
      flex-basis: 90%
      margin: 5px 0

  &__item:nth-child(1)
    background: url(../img/reviews/review-1.jpg) center/cover no-repeat
  &__item:nth-child(2)
    background: url(../img/reviews/review-2.jpg) center/cover no-repeat
  &__item:nth-child(3)
    background: url(../img/reviews/review-3.jpg) center/cover no-repeat
  &__item:nth-child(4)
    background: url(../img/reviews/review-4.jpg) center/cover no-repeat
  &__item:nth-child(5)
    background: url(../img/reviews/review-5.jpg) center/cover no-repeat

.btnAllReview
  display: flex
  margin-top: 40px
  font-size: 22px
  width: 100%
  padding: 5px 7px
  a
    margin: auto
    color: #f1f1f1
    &:hover
      border: 2px solid #ddd
    

////////////////////////////////////////////
  ////////////    AUTOPARK   ////////////
////////////////////////////////////////////

.avtoPark
  padding-bottom: 40px

.avtoParkWP
  display: flex
  img
    padding: 40px 0
    margin: auto

.btnAutopark
  display: block
  margin-top: 40px
  font-size: 22px
  width: 100%
  text-align: center
  padding: 5px 7px
  a
    color: #f1f1f1

////////////////////////////////////////////
  ////////////    FOOTER    ////////////
////////////////////////////////////////////

footer
  min-height: 150px
  background: $PepDark
  box-sizing: border-box