@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@-webkit-keyframes subMenuHover {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
@keyframes subMenuHover {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes opacityAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacityAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .25;
  }
}

i {
  color: #51515d;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: 'Roboto Condensed', sans-serif;
}

.cont {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: 0 45px;
}

@media (max-width: 800px) {
  .cont {
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
  color: #222;
}

.btn {
  font-size: 18px;
  text-align: center;
  background: #4cb600;
  color: #414141;
  padding: 15px 20px;
  border-radius: 4px;
  margin: 8px 0;
  -webkit-transition: .15s linear;
  transition: .15s linear;
}

.btn:hover {
  background: #5cdd00;
}

.title {
  margin: 20px 0;
  font-size: 40px;
}

.headerWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .headerWP {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.headerWP .headerWP__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 46px;
  background: #4cb600;
  padding: 0 10px;
}

.headerWP .headerWP__logo .logo {
  margin-top: auto;
  margin-bottom: 30px;
  color: #fff;
}

.headerWP .contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  margin: 10px 0;
}

.headerWP .contacts-header__btn {
  color: #fff;
}

.headerWP .contacts-header__tel1, .headerWP .contacts-header__tel2 {
  marin: 8px 0;
  padding-left: 15px;
}

.headerWP .contacts-header__tel1 i, .headerWP .contacts-header__tel2 i {
  margin-right: 15px;
}

.headerWP .header-adr {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerWP .header-adr__btn {
  background: #4cb600;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  -webkit-transition: .15s linear;
  transition: .15s linear;
  text-align: center;
}

.headerWP .header-adr__btn:hover {
  background: #5cdd00;
}

.headerWP .header-adr__adr {
  display: block;
}

.headerWP .header-adr__adr i {
  margin-right: 5px;
}

nav {
  background: #51515d;
  border-top: 5px solid #707079;
  margin-top: 20px;
  padding: 0 20px;
}

.navWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .navWP {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navWP__link {
  position: relative;
  border-radius: 3px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.navWP__link > a {
  display: block;
  padding: 20px 0;
  color: #fff;
  width: 100%;
}

.navWP__link .fa-chevron-down {
  position: absolute;
  right: 35px;
  color: #fff;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navWP__link:hover {
  background: #707079;
}

.navWP__link:hover .fa-chevron-down {
  -webkit-transform: rotate(-180deg) scale(1.2);
          transform: rotate(-180deg) scale(1.2);
}

.navWP__link:hover > .sb-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: subMenuHover 0.25s ease-in-out;
          animation: subMenuHover 0.25s ease-in-out;
}

.sb-menu {
  position: absolute;
  right: 0;
  background: #474753;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sb-menu__link {
  padding: 15px 30px;
  color: #ffffff;
}

.sb-menu__link:hover {
  background: #51515d;
}

.slider {
  min-height: 450px;
  width: 100%;
  background: url(../img/sld4.jpg) center/cover no-repeat;
}

.slider h2 {
  padding: 0;
  margin: 0;
}

.slider .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .sliderWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin: auto;
  margin-top: 150px;
  text-align: center;
}

@media (max-width: 800px) {
  .slider .sliderWP {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.slider .sliderWP__title {
  width: 100%;
  font-size: 30px;
}

.slider .sliderWP__btn {
  color: #fff;
  margin: 20px auto;
  background: #4cb600;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 12.5px 25px;
  -webkit-transition: .25s linear;
  transition: .25s linear;
}

.slider .sliderWP__btn:hover {
  background: #ffffff;
  color: #4cb600;
  border: 1px solid #4cb600;
}

.service {
  background: #4cb600;
  width: 100%;
  min-height: 120px;
}

.service .serviceWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 800px) {
  .service .serviceWP {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.service .serviceWP i {
  font-size: 56px;
}

@media (max-width: 800px) {
  .service .serviceWP i {
    font-size: 35px;
  }
}

.service .serviceWP h2 {
  margin: 5px 0;
  padding: 0;
}

.service .serviceWP__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  margin-top: -70px;
  border-radius: 50%;
  border: 3px solid #4cb600;
  width: 175px;
  height: 175px;
  -webkit-transition: .25s linear;
  transition: .25s linear;
}

@media (max-width: 800px) {
  .service .serviceWP__item {
    width: 139px;
    height: 139px;
    margin-top: 0;
  }
}

.service .serviceWP__item:hover {
  background: #51515d;
  border: 3px solid #fff;
}

.service .serviceWP__item:hover > i {
  -webkit-animation: opacityAnim .25s linear;
          animation: opacityAnim .25s linear;
  position: absolute;
  opacity: .25;
  left: 35%;
}

.service .serviceWP__item:hover .serviceWP__title {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  color: #fff;
}

.service .serviceWP__title {
  color: #272727;
  font-size: 16px;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

@media (max-width: 800px) {
  .service .serviceWP__title {
    font-size: 13px;
  }
}

.service .serviceWP i {
  color: #4cb600;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.about-us {
  padding: 60px 0;
}

@media (max-width: 800px) {
  .about-us {
    padding: 20px 0;
  }
}

.about-us .aboutWP__title {
  font-size: 40px;
  border-bottom: 1px solid #4cb600;
}

.about-us .aboutWP__text {
  margin: 15px 0;
}

.about-us .about-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media (max-width: 800px) {
  .about-us .about-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-us .about-cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #51515d;
  -webkit-box-shadow: 0 0 4px 1px #333;
          box-shadow: 0 0 4px 1px #333;
  padding: 10px 20px;
  min-height: 200px;
  width: 15%;
  -webkit-transition: 2s linear;
  transition: 2s linear;
}

@media (max-width: 800px) {
  .about-us .about-cards__item {
    width: 85%;
    min-height: auto;
    margin: 5px 0;
  }
}

.about-us .about-cards__item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.about-us .about-cards__title {
  color: #ffffff;
  border-bottom: 1px solid #8eff3d;
  font-size: 18px;
  padding: 10px 0;
}

.about-us .about-cards__text {
  margin: auto 0;
  color: #ddd;
}

.akcii {
  padding: 30px 0 50px 0;
  background: #51515d;
}

.akcii__title {
  font-size: 40px;
  color: #fff;
}

.akcii .akciiWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .akcii .akciiWP {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.akcii .akciiWP__item {
  -webkit-transition: .25s;
  transition: .25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 30%;
  height: 250px;
  background: url(../img/akcii2.jpg) center/cover no-repeat;
  border: 1px solid #000;
}

@media (max-width: 800px) {
  .akcii .akciiWP__item {
    width: 85%;
    margin: 5px 0;
  }
}

.akcii .akciiWP__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.akcii .akciiWP .akciiWP__item:nth-child(1) {
  background: url(../img/akcii1.jpg) center/cover no-repeat;
}

.akcii .akciiWP .akciiWP__item:nth-child(2) {
  background: url(../img/akcii2.jpg) center/cover no-repeat;
}

.akcii .akciiWP .akciiWP__item:nth-child(3) {
  background: url(../img/akcii3.jpg) center/cover no-repeat;
}

.akcii .akciiWP__title {
  margin: auto 0;
  width: 100%;
  color: #ffffff;
  font-size: 26px;
  background: #00000099;
  padding: 5px 10px;
}

.catalog {
  padding: 30px 0;
}

.catalog__title {
  font-size: 40px;
  color: #000;
}

.catalog .catalogWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog .catalogWP__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 24%;
  min-height: 255px;
  margin-bottom: 20px;
  background: url(../img/tovar/tovar_1.jpg) center/cover no-repeat;
}

@media (max-width: 800px) {
  .catalog .catalogWP__item {
    width: 48%;
    min-height: 170px;
  }
}

.catalog .catalogWP__item:nth-child(5), .catalog .catalogWP__item:nth-child(6), .catalog .catalogWP__item:nth-child(7), .catalog .catalogWP__item:nth-child(8) {
  display: none;
}

.catalog .catalogWP__name {
  background: #4cb600;
  color: #fff;
  font-size: 22px;
  padding: 5px 10px 0;
}

@media (max-width: 800px) {
  .catalog .catalogWP__name {
    font-size: 16px;
  }
}

.catalog .catalogWP__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  width: 100%;
}

.catalog .catalogWP__btn {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  display: block;
  padding: 5px 0;
  color: #fff;
}

@media (max-width: 800px) {
  .catalog .catalogWP__btn {
    font-size: 16px;
  }
}

.catalog .catalogWP .bye {
  background: #4cb600;
  -webkit-transition: .25s;
  transition: .25s;
}

.catalog .catalogWP .bye:hover {
  background: #6ad41e;
}

.catalog .catalogWP .catalog-item {
  background: #51515d;
  -webkit-transition: .25s;
  transition: .25s;
}

.catalog .catalogWP .catalog-item:hover {
  background: #6f6f7b;
}

.reviews {
  background: #51515d;
  padding: 35px 0;
}

.reviews .title {
  color: #fff;
}

.reviewWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .reviewWP {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reviewWP__item {
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  min-height: 300px;
  border: 2px solid #4cb600;
}

@media (max-width: 800px) {
  .reviewWP__item {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin: 5px 0;
  }
}

.reviewWP__item:nth-child(1) {
  background: url(../img/reviews/review-1.jpg) center/cover no-repeat;
}

.reviewWP__item:nth-child(2) {
  background: url(../img/reviews/review-2.jpg) center/cover no-repeat;
}

.reviewWP__item:nth-child(3) {
  background: url(../img/reviews/review-3.jpg) center/cover no-repeat;
}

.reviewWP__item:nth-child(4) {
  background: url(../img/reviews/review-4.jpg) center/cover no-repeat;
}

.reviewWP__item:nth-child(5) {
  background: url(../img/reviews/review-5.jpg) center/cover no-repeat;
}

.btnAllReview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  font-size: 22px;
  width: 100%;
  padding: 5px 7px;
}

.btnAllReview a {
  margin: auto;
  color: #fff;
}

.avtoPark {
  padding-bottom: 40px;
}

.avtoParkWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avtoParkWP img {
  padding: 40px 0;
  margin: auto;
}

.btnAutopark {
  display: block;
  margin-top: 40px;
  font-size: 22px;
  width: 100%;
  text-align: center;
  padding: 5px 7px;
}

.btnAutopark a {
  color: #fff;
}

footer {
  min-height: 150px;
  background: url(../img/phonFooter.jpg) center/cover repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */