@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900|Roboto&display=swap");
@-webkit-keyframes subMenuHover {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
@keyframes subMenuHover {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes opacityAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacityAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .25;
  }
}

@-webkit-keyframes rotateService {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 1;
  }
}

@keyframes rotateService {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 1;
  }
}

@-webkit-keyframes animationLic {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animationLic {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

i {
  color: #353546;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  background: #ddd;
  font-family: 'Roboto Condensed', sans-serif;
}

.cont {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: 0 45px;
}

@media (max-width: 800px) {
  .cont {
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
  color: #353546;
}

.btn {
  font-size: 18px;
  text-align: center;
  background: #49af00;
  color: #414141;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 8px 0;
  -webkit-transition: .15s linear;
  transition: .15s linear;
  border: 2px solid transparent;
}

.btn:hover {
  border: 2px solid #353546;
}

.title {
  margin: 20px 0;
  font-size: 40px;
}

.headerWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

@media (max-width: 950px) {
  .headerWP {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .headerWP {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.headerWP .headerWP__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 250px;
  font-size: 46px;
  background: #49af00;
  border-radius: 3px;
  padding: 0px 10px;
  margin: 3px 0;
  font-family: 'Montserrat', sans-serif;
}

.headerWP .headerWP__logo .logo {
  margin: auto;
  color: #f1f1f1;
}

.headerWP .contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@media (max-width: 950px) {
  .headerWP .contacts-header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding-top: 20px;
  }
}

@media (max-width: 600px) {
  .headerWP .contacts-header {
    width: auto;
    padding-top: 20px;
    margin-right: auto;
  }
}

.headerWP .contacts-header__btn {
  color: #f1f1f1;
  font-weight: 400;
}

.headerWP .contacts-header .btnBox {
  margin: 20px 0 0 20px;
}

.headerWP .contacts-header__tel1, .headerWP .contacts-header__tel2 {
  letter-spacing: 1px;
  padding-left: 5px;
  font-size: 18px;
  padding: 3px 0;
  font-weight: bold;
}

.headerWP .headerWP-adr {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  .headerWP .headerWP-adr {
    width: auto;
    padding-top: 20px;
    margin-right: auto;
  }
}

.headerWP .headerWP-adr__btn {
  display: block;
  color: #353546;
  background: #ddd;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding: 3px 0;
}

.headerWP .headerWP-adr__adr {
  display: block;
  padding: 3px 0;
  color: #353546;
}

.headerWP i {
  margin-right: 5px;
  color: #353546;
}

nav {
  position: relative;
  margin-top: 20px;
  padding: 0 20px;
  background: #353546;
  z-index: 2;
}

.navWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navWP__link {
  position: relative;
  border-radius: 3px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-size: 16px;
  width: 100%;
  text-align: center;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}

.navWP__link > a {
  display: block;
  padding: 20px 0;
  color: #f1f1f1;
  font-weight: bold;
}

.navWP__link .fa-chevron-down {
  position: absolute;
  right: 35px;
  top: 38%;
  color: #ddd;
  -webkit-transition: .25s linear;
  transition: .25s linear;
}

.navWP__link:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: inset 0px -4px 0 #909090;
          box-shadow: inset 0px -4px 0 #909090;
}

.navWP__link:hover .fa-chevron-down {
  -webkit-transform: rotate(90deg) scale(1.2) skew(5deg);
          transform: rotate(90deg) scale(1.2) skew(5deg);
  opacity: .75;
}

.navWP__link:hover > .sb-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: subMenuHover .3s linear;
          animation: subMenuHover .3s linear;
}

.sb-menu {
  position: absolute;
  right: 0;
  background: #2b2b3c;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .25s linear;
  transition: .25s linear;
  z-index: 2;
}

.sb-menu__link {
  padding: 15px 0;
  min-width: 225px;
  color: #f1f1f1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.sb-menu__link:hover {
  background: #353546;
}

.slider {
  position: relative;
  min-height: 550px;
  width: 100%;
  background: url(../img/sld5.jpg) center/cover no-repeat;
}

.slider .lic {
  position: absolute;
  font-size: 18px;
  width: 80vw;
  top: 0px;
  color: #ddd;
  -webkit-transform: translate(7vw, 10px);
          transform: translate(7vw, 10px);
  animation: animationLic 1s infinite linear alternate-reverse;
}

.slider h2 {
  padding: 0;
  margin: 0;
}

.slider .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .sliderWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f1f1f1;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 800px) {
  .slider .sliderWP {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.slider .sliderWP__title {
  width: 100%;
  font-size: 30px;
  font-weight: 400;
}

.slider .sliderWP__btn {
  color: #f1f1f1;
  margin: 20px auto;
  background: #49af00;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  padding: 12.5px 25px;
  -webkit-transition: .25s linear;
  transition: .25s linear;
  letter-spacing: 0.6px;
}

.slider .sliderWP__btn:hover {
  background: #f1f1f1;
  color: #49af00;
  border: 1px solid #49af00;
}

.service {
  background: #49af00;
  width: 100%;
  min-height: 120px;
}

.service .serviceWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 800px) {
  .service .serviceWP {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.service .serviceWP i {
  font-size: 56px;
}

@media (max-width: 800px) {
  .service .serviceWP i {
    font-size: 35px;
  }
}

.service .serviceWP h2 {
  margin: 5px 0;
  padding: 0;
}

.service .serviceWP__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f1f1f1;
  margin-top: -70px;
  border-radius: 50%;
  border: 3px solid #49af00;
  width: 175px;
  height: 175px;
  -webkit-transition: .45s linear;
  transition: .45s linear;
}

@media (max-width: 800px) {
  .service .serviceWP__item {
    width: 139px;
    height: 139px;
    margin-top: 0;
  }
}

.service .serviceWP__item:hover {
  background: #353546;
  border: 3px solid #f1f1f1;
}

.service .serviceWP__item:hover > i {
  -webkit-animation: opacityAnim 1.05s linear;
          animation: opacityAnim 1.05s linear;
  position: absolute;
  opacity: .25;
  left: 35%;
}

.service .serviceWP__item:hover .serviceWP__title {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  color: #f1f1f1;
}

.service .serviceWP__title {
  color: #353546;
  font-size: 14px;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

@media (max-width: 800px) {
  .service .serviceWP__title {
    font-size: 13px;
  }
}

.service .serviceWP i {
  color: #49af00;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.about-us {
  padding: 60px 0;
}

@media (max-width: 800px) {
  .about-us {
    padding: 20px 0;
  }
}

.about-us .aboutWP__title {
  font-size: 40px;
  border-bottom: 1px solid #49af00;
}

.about-us .aboutWP__text {
  margin: 15px 0;
}

.about-us .about-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media (max-width: 800px) {
  .about-us .about-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-us .about-cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  background: #d8d8d8;
  -webkit-box-shadow: 0 0 4px 1px #353546;
          box-shadow: 0 0 4px 1px #353546;
  padding: 10px 15px;
  margin-left: 35px;
}

@media (max-width: 950px) {
  .about-us .about-cards__item {
    width: 85%;
    min-height: auto;
    margin: 5px 0;
  }
}

.about-us .about-cards__item:first-child {
  margin-left: 0;
}

.about-us .about-cards__title {
  position: relative;
  color: #363636;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}

.about-us .about-cards__text {
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 14px;
  color: #444444;
}

.akcii {
  padding: 30px 0 50px 0;
  background: #353546;
}

.akcii__title {
  font-size: 40px;
  color: #f1f1f1;
}

.akcii .akciiWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .akcii .akciiWP {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.akcii .akciiWP__item {
  -webkit-transition: .25s linear;
  transition: .25s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 30%;
  height: 250px;
  background: url(../img/akcii2.jpg) center/cover no-repeat;
  border: 1px solid #000;
}

@media (max-width: 800px) {
  .akcii .akciiWP__item {
    width: 85%;
    margin: 5px 0;
  }
}

.akcii .akciiWP__item:hover {
  -webkit-transform: scale(1.02) translate(-6px, -6px);
          transform: scale(1.02) translate(-6px, -6px);
  -webkit-box-shadow: 6px 6px 0px #f1f1f133;
          box-shadow: 6px 6px 0px #f1f1f133;
}

.akcii .akciiWP .akciiWP__item:nth-child(1) {
  background: url(../img/akcii1.jpg) center/cover no-repeat;
}

.akcii .akciiWP .akciiWP__item:nth-child(2) {
  background: url(../img/akcii2.jpg) center/cover no-repeat;
}

.akcii .akciiWP .akciiWP__item:nth-child(3) {
  background: url(../img/akcii3.jpg) center/cover no-repeat;
}

.akcii .akciiWP__title {
  margin: auto 0;
  width: 100%;
  color: #f1f1f1ff;
  font-size: 26px;
  background: #00000099;
  padding: 5px 10px;
}

.catalog {
  padding: 30px 0;
}

.catalog__title {
  font-size: 40px;
  color: #000;
}

.catalog .catalogWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 520px) {
  .catalog .catalogWP {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.catalog .catalogWP__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 325px;
  min-height: 255px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px #313131;
          box-shadow: 0 0 3px #313131;
  margin: 0 10px;
  margin-bottom: 20px;
  background: url(../img/tovar/tovar_1.jpg) center/cover no-repeat;
}

@media (max-width: 800px) {
  .catalog .catalogWP__item {
    width: 225px;
    min-height: 170px;
  }
}

.catalog .catalogWP__item:nth-child(5), .catalog .catalogWP__item:nth-child(6), .catalog .catalogWP__item:nth-child(7), .catalog .catalogWP__item:nth-child(8) {
  display: none;
}

.catalog .catalogWP__name {
  position: absolute;
  width: %;
  background: #49af00;
  color: #f1f1f1;
  font-size: 22px;
  padding: 5px 10px 0;
}

@media (max-width: 800px) {
  .catalog .catalogWP__name {
    font-size: 16px;
  }
}

.catalog .catalogWP__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  width: 100%;
}

.catalog .catalogWP__btn {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  display: block;
  padding: 5px 0;
  color: #f1f1f1;
}

@media (max-width: 800px) {
  .catalog .catalogWP__btn {
    font-size: 16px;
  }
}

.catalog .catalogWP .bye {
  background: #49af00;
  -webkit-transition: .25s;
  transition: .25s;
}

.catalog .catalogWP .bye:hover {
  background: #67cd1e;
}

.catalog .catalogWP .catalog-item {
  background: #353546;
  -webkit-transition: .25s;
  transition: .25s;
}

.catalog .catalogWP .catalog-item:hover {
  background: #535364;
}

.reviews {
  background: #353546;
  padding: 35px 0;
}

.reviews .title {
  color: #f1f1f1;
}

.reviewWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .reviewWP {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reviewWP__item {
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  min-height: 300px;
  border: 2px solid #49af00;
}

@media (max-width: 800px) {
  .reviewWP__item {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin: 5px 0;
  }
}

.reviewWP__item:nth-child(1) {
  background: url(../img/reviews/review-1.jpg) center/cover no-repeat;
}

.reviewWP__item:nth-child(2) {
  background: url(../img/reviews/review-2.jpg) center/cover no-repeat;
}

.reviewWP__item:nth-child(3) {
  background: url(../img/reviews/review-3.jpg) center/cover no-repeat;
}

.reviewWP__item:nth-child(4) {
  background: url(../img/reviews/review-4.jpg) center/cover no-repeat;
}

.reviewWP__item:nth-child(5) {
  background: url(../img/reviews/review-5.jpg) center/cover no-repeat;
}

.btnAllReview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  font-size: 22px;
  width: 100%;
  padding: 5px 7px;
}

.btnAllReview a {
  margin: auto;
  color: #f1f1f1;
}

.btnAllReview a:hover {
  border: 2px solid #ddd;
}

.avtoPark {
  padding-bottom: 40px;
}

.avtoParkWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avtoParkWP img {
  padding: 40px 0;
  margin: auto;
}

.btnAutopark {
  display: block;
  margin-top: 40px;
  font-size: 22px;
  width: 100%;
  text-align: center;
  padding: 5px 7px;
}

.btnAutopark a {
  color: #f1f1f1;
}

footer {
  min-height: 150px;
  background: #353546;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */