@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900|Roboto&display=swap");
@-webkit-keyframes subMenuHover {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
@keyframes subMenuHover {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes opacityAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .25;
  }
}

@keyframes opacityAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .25;
  }
}

@-webkit-keyframes rotateService {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 1;
  }
}

@keyframes rotateService {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 1;
  }
}

@-webkit-keyframes animationLic {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animationLic {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes menuOpen {
  0% {
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
    height: 350px;
  }
}

@keyframes menuOpen {
  0% {
    height: 0;
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
    height: 350px;
  }
}

@-webkit-keyframes menuClose {
  0% {
    height: 350px;
  }
  100% {
    height: 60px;
  }
}

@keyframes menuClose {
  0% {
    height: 350px;
  }
  100% {
    height: 60px;
  }
}

i {
  color: #353546;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #353546;
  background: #ddd;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-transition: .25s linear;
  transition: .25s linear;
}

.cont {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: 0 45px;
}

@media (max-width: 800px) {
  .cont {
    padding: 0 15px;
  }
}

@media (max-width: 450px) {
  .cont {
    padding: 0 5px;
  }
}

a {
  text-decoration: none;
  color: #353546;
}

.btn {
  font-size: 18px;
  text-align: center;
  background: #49af00;
  color: #414141;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 8px 0;
  -webkit-transition: .15s linear;
  transition: .15s linear;
  border: 2px solid transparent;
}

.btn:hover {
  border: 2px solid #353546;
}

.title {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 40px;
}

.headerWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

@media (max-width: 950px) {
  .headerWP {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .headerWP {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.headerWP .headerWP__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 250px;
  font-size: 46px;
  background: #49af00;
  border-radius: 3px;
  padding: 0px 10px;
  margin: 3px 0;
  font-family: 'Montserrat', sans-serif;
}

.headerWP .headerWP__logo .logo {
  margin: auto;
  color: #f1f1f1;
}

.headerWP .contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@media (max-width: 950px) {
  .headerWP .contacts-header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding-top: 20px;
  }
}

@media (max-width: 600px) {
  .headerWP .contacts-header {
    width: auto;
    padding-top: 20px;
    margin-right: auto;
  }
}

.headerWP .contacts-header__btn {
  color: #f1f1f1;
  font-weight: 400;
}

.headerWP .contacts-header .btnBox {
  margin: 20px 0 0 20px;
}

.headerWP .contacts-header__tel1, .headerWP .contacts-header__tel2 {
  letter-spacing: 1px;
  padding-left: 5px;
  font-size: 18px;
  padding: 3px 0;
  font-weight: bold;
}

.headerWP .headerWP-adr {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  .headerWP .headerWP-adr {
    width: auto;
    padding-top: 20px;
    margin-right: auto;
  }
}

.headerWP .headerWP-adr__btn {
  display: block;
  color: #353546;
  background: #ddd;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding: 3px 0;
}

.headerWP .headerWP-adr__adr {
  display: block;
  padding: 3px 0;
  color: #353546;
}

.headerWP i {
  margin-right: 5px;
  color: #353546;
}

nav {
  position: relative;
  margin-top: 20px;
  padding: 0 20px;
  background: #353546;
  z-index: 2;
}

.navBtn {
  display: none;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  color: #f1f1f1;
}

.navBtn i {
  color: #f1f1f1;
  font-size: 18px;
}

@media (max-width: 950px) {
  .nav__open {
    display: block;
  }
}

.navWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 950px) {
  .navWP {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navWP__link {
  position: relative;
  border-radius: 3px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-size: 16px;
  width: 100%;
  text-align: center;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}

.navWP__link > a {
  display: block;
  padding: 15px 0;
  color: #f1f1f1;
  font-weight: bold;
}

@media (max-width: 950px) {
  .navWP__link > a {
    padding: 10px 0;
  }
}

.navWP__link .fa-chevron-down {
  position: absolute;
  right: 15%;
  top: 33%;
  color: #ddd;
  -webkit-transition: .25s linear;
  transition: .25s linear;
}

@media (max-width: 950px) {
  .navWP__link .fa-chevron-down {
    display: none;
  }
}

.navWP__link:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: inset 0px -4px 0 #909090;
          box-shadow: inset 0px -4px 0 #909090;
}

.navWP__link:hover .fa-chevron-down {
  -webkit-transform: rotate(90deg) scale(1.2) skew(5deg);
          transform: rotate(90deg) scale(1.2) skew(5deg);
  opacity: .75;
}

.navWP__link:hover > .sb-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: subMenuHover .3s linear;
          animation: subMenuHover .3s linear;
}

@media (max-width: 950px) {
  .navWP__link:hover > .sb-menu {
    display: none;
  }
}

.sb-menu {
  position: absolute;
  right: 0;
  background: #2b2b3c;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .25s linear;
  transition: .25s linear;
  z-index: 2;
}

@media (max-width: 950px) {
  .sb-menu {
    display: none;
  }
}

.sb-menu__link {
  padding: 15px 0;
  min-width: 225px;
  color: #f1f1f1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.sb-menu__link:hover {
  background: #353546;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.slider .lic {
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 18px;
  top: 10px;
  color: #ddd;
  animation: animationLic 1s infinite linear alternate-reverse;
}

@media (max-width: 600px) {
  .slider .lic {
    font-size: 14px;
  }
}

.slider h2 {
  padding: 0 20px;
  margin: 0;
}

.slider .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .sliderBOX {
  overflow: hidden;
}

.slider .sliderWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 550px;
  color: #f1f1f1;
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

@media (max-width: 800px) {
  .slider .sliderWP {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.slider .sliderWP__title {
  width: 100%;
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 800px) {
  .slider .sliderWP__title {
    padding: 0 20px;
  }
}

.slider .sliderWP__btn {
  color: #f1f1f1;
  margin: 15px 30px;
  background: #49af00;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  padding: 12.5px 25px;
  -webkit-transition: .25s linear;
  transition: .25s linear;
  letter-spacing: 0.6px;
  min-width: 180px;
}

.slider .sliderWP__btn:hover {
  background: #f1f1f1;
  color: #49af00;
  border: 1px solid #49af00;
}

.slick-prev {
  left: 15vw;
  z-index: 1;
}

@media (max-width: 1400px) {
  .slick-prev {
    left: 10px;
  }
}

@media (max-width: 800px) {
  .slick-prev {
    left: -10px;
  }
}

.slick-prev::before {
  position: absolute;
  content: "";
  width: 54px;
  height: 54px;
  background: url(../img/icons/arrow-left-solid.png) center/cover no-repeat;
  background-size: 100%;
}

@media (max-width: 800px) {
  .slick-prev::before {
    width: 34px;
    height: 34px;
  }
}

.slick-next {
  right: 17vw;
  width: 30px;
  height: 30px;
  z-index: 1;
}

@media (max-width: 1400px) {
  .slick-next {
    right: 60px;
  }
}

@media (max-width: 800px) {
  .slick-next {
    right: 20px;
  }
}

.slick-next::before {
  position: absolute;
  content: "";
  width: 54px;
  height: 54px;
  background: url(../img/icons/arrow-right-solid.png) center/cover no-repeat;
  background-size: 100%;
}

@media (max-width: 800px) {
  .slick-next::before {
    width: 34px;
    height: 34px;
  }
}

.service {
  background: #49af00;
  width: 100%;
  min-height: 120px;
}

.service .serviceWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 800px) {
  .service .serviceWP {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.service .serviceWP i {
  font-size: 56px;
}

@media (max-width: 800px) {
  .service .serviceWP i {
    font-size: 35px;
  }
}

.service .serviceWP h2 {
  margin: 5px 0;
  padding: 0 5px;
}

.service .serviceWP__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f1f1f1;
  margin-top: -70px;
  border-radius: 50%;
  border: 3px solid #49af00;
  width: 175px;
  height: 175px;
  -webkit-transition: .45s linear;
  transition: .45s linear;
}

@media (max-width: 800px) {
  .service .serviceWP__item {
    width: 120px;
    height: 120px;
    margin: 5px 0;
  }
}

@media (max-width: 610px) {
  .service .serviceWP__item {
    margin: 5px 40px;
  }
}

@media (max-width: 480px) {
  .service .serviceWP__item {
    margin: 5px 10px;
  }
}

.service .serviceWP__item:hover {
  background: #353546;
  border: 3px solid #f1f1f1;
}

.service .serviceWP__item:hover > i {
  -webkit-animation: opacityAnim 1.05s linear;
          animation: opacityAnim 1.05s linear;
  position: absolute;
  opacity: .25;
  left: 35%;
}

.service .serviceWP__item:hover .serviceWP__title {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  color: #f1f1f1;
  padding: 0 5px;
}

.service .serviceWP__title {
  color: #353546;
  font-size: 14px;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

@media (max-width: 800px) {
  .service .serviceWP__title {
    font-size: 12px;
  }
}

.service .serviceWP i {
  color: #49af00;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.about-us {
  padding: 40px 0;
}

@media (max-width: 800px) {
  .about-us {
    padding: 20px 0;
  }
}

.about-us .aboutWP__title {
  font-size: 40px;
}

.about-us .aboutWP__text {
  margin: 15px 0;
}

.about-us .about-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media (max-width: 950px) {
  .about-us .about-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .about-us .about-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-us .about-cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #d8d8d8;
  -webkit-box-shadow: 0 0 4px 1px #353546;
          box-shadow: 0 0 4px 1px #353546;
  padding: 5px 15px;
  margin-left: 35px;
  min-height: 100px;
  width: 19%;
}

@media (max-width: 950px) {
  .about-us .about-cards__item {
    width: 25%;
    min-height: auto;
    margin: 5px 0;
  }
}

@media (max-width: 800px) {
  .about-us .about-cards__item {
    width: 85%;
  }
}

.about-us .about-cards__item:first-child {
  margin-left: 0;
}

.about-us .about-cards__title {
  position: relative;
  color: #363636;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
}

.about-us .about-cards__text {
  margin-bottom: 20px;
  font-size: 14px;
  color: #444444;
  padding: 5px 25px;
}

.akcii {
  padding: 30px 0 50px 0;
  background: #353546;
}

.akcii__title {
  font-size: 40px;
  color: #f1f1f1;
}

.akcii .akciiWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .akcii .akciiWP {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.akcii .akciiWP__item {
  -webkit-transition: .25s linear;
  transition: .25s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 45%;
  height: 250px;
  background: url(../img/akcii2.jpg) center/cover no-repeat;
  border: 1px solid #666;
  border-radius: 2px;
}

@media (max-width: 800px) {
  .akcii .akciiWP__item {
    width: 85%;
    margin: 5px 0;
  }
}

.akcii .akciiWP__item:hover {
  -webkit-box-shadow: 0px 6px 0px #49af00;
          box-shadow: 0px 6px 0px #49af00;
}

.akcii .akciiWP .akciiWP__item:nth-child(1) {
  background: url(../img/akcii1.jpg) center/cover no-repeat;
}

.akcii .akciiWP .akciiWP__item:nth-child(2) {
  background: url(../img/akcii3.jpg) center/cover no-repeat;
}

.akcii .akciiWP__title {
  margin: 0 auto auto auto;
  width: 100%;
  color: #f1f1f1ff;
  font-size: 26px;
  background: #00000077;
  padding: 5px 10px;
}

.akcii .akciiWP__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.akcii .akciiWP__btn a {
  color: #f1f1f1;
}

.akcii .akciiWP__btn a:hover {
  border-color: #f1f1f1;
}

.catalog {
  padding: 30px 0;
}

.catalog__title {
  font-size: 40px;
  color: #000;
}

.catalog .catalogWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1124px) {
  .catalog .catalogWP {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 520px) {
  .catalog .catalogWP {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.catalog .catalogWP__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  min-height: 225px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px #313131;
          box-shadow: 0 0 3px #313131;
  margin: 0 10px;
  margin-bottom: 20px;
  background: url(../img/tovar/tovar_1.jpg) center/cover no-repeat;
}

@media (max-width: 1150px) {
  .catalog .catalogWP__item {
    min-height: 200px;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media (max-width: 800px) {
  .catalog .catalogWP__item {
    width: 225px;
    min-height: 170px;
  }
}

@media (max-width: 530px) {
  .catalog .catalogWP__item {
    min-width: 220px;
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
  }
}

.catalog .catalogWP__name {
  position: absolute;
  background: #49af00;
  color: #f1f1f1;
  font-size: 18px;
  padding: 5px 10px 0;
}

@media (max-width: 800px) {
  .catalog .catalogWP__name {
    font-size: 16px;
  }
}

.catalog .catalogWP__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  width: 100%;
}

.catalog .catalogWP__btn {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  display: block;
  padding: 5px 0;
  color: #f1f1f1;
}

@media (max-width: 800px) {
  .catalog .catalogWP__btn {
    font-size: 16px;
  }
}

.catalog .catalogWP .bye {
  background: #49af00;
  -webkit-transition: .25s;
  transition: .25s;
}

.catalog .catalogWP .bye:hover {
  background: #67cd1e;
}

.catalog .catalogWP .catalog-item {
  background: #353546;
  -webkit-transition: .25s;
  transition: .25s;
}

.catalog .catalogWP .catalog-item:hover {
  background: #535364;
}

.catalog .catalogWP__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog .catalogWP__btn-box .all__btn {
  margin: auto;
  color: #f1f1f1;
}

.reviews {
  background: #353546;
  padding: 35px 0;
}

@media (max-width: 1200px) {
  .reviews {
    padding: 25px 0;
  }
}

.reviews .title {
  color: #f1f1f1;
}

.reviewWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .reviewWP {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reviewWP__item {
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  min-height: 265px;
}

@media (max-width: 800px) {
  .reviewWP__item {
    -ms-flex-preferred-size: 28%;
        flex-basis: 28%;
    min-height: 225px;
    margin: 10px;
  }
}

@media (max-width: 500px) {
  .reviewWP__item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    min-height: 200px;
  }
}

.reviewWP__item img {
  max-width: 100%;
  border: 2px solid #909090;
  border-bottom: 4px solid #49af00;
  -webkit-transition: .25s linear;
  transition: .25s linear;
}

.reviewWP__item img:hover {
  border: 2px solid #70ff5dc5;
  border-bottom: 4px solid #49af00;
}

.btnAllReview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  font-size: 22px;
  padding: 5px 7px;
}

@media (max-width: 800px) {
  .btnAllReview {
    margin-top: 20px;
  }
}

.btnAllReview a {
  margin: auto;
  color: #f1f1f1;
  min-width: 225px;
}

.btnAllReview a:hover {
  border: 2px solid #ddd;
}

.avtoPark {
  padding-bottom: 40px;
}

.avtoParkWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avtoParkWP .avtopark-img {
  padding: 40px 0;
  margin: auto;
  width: 65%;
}

@media (max-width: 800px) {
  .avtoParkWP .avtopark-img {
    width: 85%;
    padding: 20px 0;
  }
}

.btnAutopark {
  display: block;
  margin-top: 40px;
  font-size: 22px;
  width: 100%;
  text-align: center;
  padding: 5px 7px;
}

.btnAutopark a {
  color: #f1f1f1;
  width: 100%;
}

.footer {
  background: #353546;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
}

.footerWP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.footerWP__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerWP__contacts a {
  color: #f1f1f1;
  padding: 2px 0;
}

.footerWP__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  .footerWP__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footerWP__menu a {
  color: #f1f1f1;
  font-size: 18px;
  padding: 5px 15px;
  margin: auto 0;
}

.footerWP__menu a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #49af00;
          text-decoration-color: #49af00;
}

.footerWP__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 46px;
  border-radius: 3px;
  padding: 0px 10px;
  margin: 3px 0;
  font-family: 'Montserrat', sans-serif;
}

.footerWP__logo .logo {
  color: #f1f1f1;
}
/*# sourceMappingURL=style.css.map */